.page-header {
    font-size: 36pt;
    text-align: center;
    padding: 20px 20px 20px 40px;
    color: #FDFEFE ;
    background-color: #117A65;
    margin-top: 0pt;
    font-family: 'Oswald', sans-serif;
}
.page-header a, .page-header a:hover, .page-header a:visited{
    color: #F1C40F
}
.content-title{
    font-family: 'Oswald', sans-serif;
    margin-left: 40pt;
}
.content{
    margin-left: 40pt;
    font-size: 16pt;
    color: #111111;
}
.content a, .content a:hover, .content a:visited{
    color: #F1C40F
}
.barter{
    margin-left: 40pt;
    font-size: 16pt;
    color: #FF0707;
}